.barrage-body :global{
	background-color: #000;
	color: #fff;
	height: 250px;
	.barrage-style {
		overflow-y:auto;
		width:100%;
		height:100%;
		color: red;
		font-size: 13px;
	}
	.ant-input {
		background-color: #000;
		color: #fff;
	}
}