.users-info {
  .username-avatar {
    display:flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    align-items:center;/*指定垂直居中*/
  }
}

.live-data {
  .user-info {
    border: 1px solid #ebedf0;
    width: 1000px;
    margin: 20px auto;
    display:flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    align-items:center;/*指定垂直居中*/

    .left-image{
      display: inline-block;
      width: 200px;
      background: orange;
      padding: 15px;

      .header {
        width: 100px;
        height: 100px;
        border-radius:50%;
        overflow:hidden;
        margin: 0px auto;
      }

      .content {
        color: #ffffff;
        text-align: center;
        h1 {
          color: #ffffff;
          margin-bottom: 0;
        }
        margin-bottom: 10px;
      }

      .footer {
        text-align: center;
        a {
          color: orange;
        }
      }
    }


    .right-content{
      margin: 20px;
      display: inline-block;
      .img-text {
        display:flex;/*Flex布局*/
        display: -webkit-flex; /* Safari */
        align-items:center;/*指定垂直居中*/
      }
    }
  }
}