.login-register {

	margin-top: 100px;

	.login-register-content {
		border: 1px solid #ebedf0;

		.menu-item {
			width: 50%;
			text-align: center;
		}

		.menu-item:active {
			background-color: #1890ff;
			color: #fff;
		}
	}
}